<ion-tabs  >
  <ion-tab-bar color="danger" slot="top">
    <ion-tab-button tab="monument">
      <ion-icon name="person-circle"></ion-icon>
      <ion-label text-size="6">Monuments</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="profile">
      <ion-icon name="information-circle"></ion-icon>
      <ion-label>Acceuil</ion-label>
    </ion-tab-button>
  
  

    <ion-tab-button tab="villes">
      <ion-icon color="success" name="accessibility"></ion-icon>
      <ion-label>Villes</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
  
</ion-tabs>